flows (1).json
[{"id":"fb60b1c0.bada3","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ba2231cf.c13b4","type":"function","z":"fb60b1c0.bada3","name":"PreToken","func":"global.set(\"a\",msg.payload.a)\nglobal.set(\"b\",msg.payload.b)\nglobal.set(\"c\",msg.payload.c)\nglobal.set(\"d\",msg.payload.d)\nglobal.set(\"e\",msg.payload.e)\nglobal.set(\"f\",msg.payload.f)\nglobal.set(\"g\",msg.payload.g)\nglobal.set(\"h\",msg.payload.h)\nglobal.set(\"i\",msg.payload.i)\nglobal.set(\"j\",msg.payload.j)\nglobal.set(\"k\",msg.payload.k)\nglobal.set(\"l\",msg.payload.l)\nglobal.set(\"m\",msg.payload.m)\nglobal.set(\"n\",msg.payload.n)\nglobal.set(\"o\",msg.payload.o)\nglobal.set(\"p\",msg.payload.p)\nglobal.set(\"q\",msg.payload.q)\nglobal.set(\"r\",msg.payload.r)\nglobal.set(\"s\",msg.payload.s)\nglobal.set(\"t\",msg.payload.t)\nvar apikey=\"YV5j-IDX4QFaCT1vI3SUP5g_Vi1wZep2JbaRcGBCL2Md\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":300,"wires":[["435c4e0a.c76ec"]]},{"id":"435c4e0a.c76ec","type":"http request","z":"fb60b1c0.bada3","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":300,"wires":[["e313f060.f76a","e63e3320.7af4c"]]},{"id":"62de5b37.ddd254","type":"inject","z":"fb60b1c0.bada3","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100.5,"y":230.00000286102295,"wires":[["ba2231cf.c13b4"]]},{"id":"14d0ca6b.90ce46","type":"debug","z":"fb60b1c0.bada3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":40,"wires":[]},{"id":"e63e3320.7af4c","type":"function","z":"fb60b1c0.bada3","name":"Pre Prediction","func":"var a = global.get('a')\nvar b = global.get('b')\nvar c = global.get('c')\nvar d = global.get('d')\nvar e = global.get('e')\nvar f = global.get('f')\nvar g = global.get('g')\nvar h = global.get('h')\nvar i = global.get('i')\nvar j = global.get('j')\nvar k = global.get('k')\nvar l = global.get('l')\nvar m = global.get('m')\nvar n = global.get('n')\nvar o = global.get('o')\nvar p = global.get('p')\nvar q = global.get('q')\nvar r = global.get('r')\nvar s = global.get('s')\nvar t = global.get('t')\n\ndict_status={'Developing':0,'Developed':1}\nvar token=msg.payload.access_token\nvar instance_id=\"2c2e45ab-03c2-42b5-89ae-994daccb648c\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload=\n{\n    \"fields\": ['Year', \n'Status',\n'Adult Mortality',\n'infant deaths',\n'Alcohol',\n'percentage expenditure',\n'Hepatitis B',\n'Measles ',\n' BMI ',\n'under-five deaths ',\n'Polio',\n'Total expenditure',\n'Diphtheria ',\n' HIV/AIDS',\n'GDP',\n'Population',\n' thinness  1-19 years',\n' thinness 5-9 years',\n'Income composition of resources',\n'Schooling'],\n \"values\": [[a,dict_status[b],c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t]]\n}\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":280,"wires":[["3b569194.34cc8e"]]},{"id":"3b569194.34cc8e","type":"http request","z":"fb60b1c0.bada3","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v3/wml_instances/2c2e45ab-03c2-42b5-89ae-994daccb648c/deployments/de326fd5-972b-49d5-ab99-71552131f17d/online","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":180,"wires":[["650e5691.19ecb8","fb586edb.87787"]]},{"id":"809794bc.7e19c8","type":"ui_form","z":"fb60b1c0.bada3","name":"","label":"","group":"a1e488ce.0a8ca8","order":0,"width":0,"height":0,"options":[{"label":"Year","value":"a","type":"number","required":true,"rows":null},{"label":"Status","value":"b","type":"text","required":true,"rows":null},{"label":"Adult Mortality","value":"c","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"d","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"e","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"f","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"g","type":"number","required":true,"rows":null},{"label":"Measles ","value":"h","type":"number","required":true,"rows":null},{"label":" BMI ","value":"i","type":"number","required":true,"rows":null},{"label":"under-five deaths ","value":"j","type":"number","required":true,"rows":null},{"label":"Polio","value":"k","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"l","type":"number","required":true,"rows":null},{"label":"Diphtheria ","value":"m","type":"number","required":true,"rows":null},{"label":" HIV/AIDS","value":"n","type":"number","required":true,"rows":null},{"label":"GDP","value":"o","type":"number","required":true,"rows":null},{"label":"Population","value":"p","type":"number","required":true,"rows":null},{"label":" thinness  1-19 years","value":"q","type":"number","required":true,"rows":null},{"label":" thinness 5-9 years","value":"r","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"s","type":"number","required":true,"rows":null},{"label":"Schooling","value":"t","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":""},"payload":"","submit":"submit","cancel":"reset","topic":"","x":46,"y":359,"wires":[["ba2231cf.c13b4"]]},{"id":"160ed95c.88f487","type":"ui_text","z":"fb60b1c0.bada3","group":"a1e488ce.0a8ca8","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":780,"y":200,"wires":[]},{"id":"fb586edb.87787","type":"function","z":"fb60b1c0.bada3","name":"function","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":60,"wires":[["14d0ca6b.90ce46","160ed95c.88f487"]]},{"id":"e313f060.f76a","type":"debug","z":"fb60b1c0.bada3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":380,"y":380,"wires":[]},{"id":"650e5691.19ecb8","type":"debug","z":"fb60b1c0.bada3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":570,"y":200,"wires":[]},{"id":"a1e488ce.0a8ca8","type":"ui_group","z":"","name":"Life Expectancy Model","tab":"fc7b394e.01df18","order":1,"disp":true,"width":"6","collapse":false},{"id":"fc7b394e.01df18","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]